  

<div class="row">

  <div class="alert alert-success span3 well" id="post_<%= post.to_param %>_votes_success" style="display: none">
     Your vote was counted
  </div>

  <div class="alert alert-error span6 well" id="post_<%= post.to_param %>_votes_error" style="display: none">
     You are only allowed to vote on a post once
  </div>
</div>

<div class="row">

  <div class="span0 well text-center">
    <% if logged_in? %>
      <%= link_to vote_post_path(post, vote: true), method: :post, remote: true do %>
        <i class="icon-arrow-up"></i>
      <% end %>
    <% end %>
    </br>
    <span id="post_<%= post.to_param %>_votes">
      <%= post.total_votes %> Votes
    </span>
    </br>
    <% if logged_in? %>
      <%= link_to vote_post_path(post, vote: false), method: :post, remote: true do %>
        <i class="icon-arrow-down"></i>
      <% end %>
    <% end %>

  </div>


  <div class="span8 well">
  	<% if logged_in? && (current_user.admin? || current_user == post.creator) %>
  	  <div class="pull-right">
  			<%= link_to "[Edit]", edit_post_path(post) %>
  		</div>
  	<% end %>
    <%= render post.categories %>
    <h4> <%= link_to post.title, fix_url(post.url) %> </h4>
    <span class="quiet">created at <%= friendly_datetime(post.created_at) %> by <%= link_to(post.creator.username, user_path(post.creator)) %> </span>
    <p> 
    	<%= link_to "#{post.comments.size} comments", post_path(post) %>
    </p>
   </div>
</div>
